@import url("component/navbar.css");
@import url("component/hero-image.css");
@import url("component/about.css");
@import url("component/experience.css");
@import url("component/skills.css");
@import url("component/work.css");
@import url("component/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body:has(#hero.coder){
    background-color: #111;
    color: white;
    --colorOne: #0088aa;
    --colorTwo: #2e95cc;
    --colorFour: #c2fcff;
    --headerColor: #00ccff;
    --aboutInformationColor: #141414;
    --eduexpBgColor: #121618;
}
body:has(#hero.designer){
    --colorOne: #FF731D;
    --colorTwo: #ff9b31;
    --colorFour: #FFD8A9;
    --headerColor: #FF731D;
    --aboutInformationColor: #FFFAF4;
    --eduexpBgColor: #fffdfb;
}
h1{
    display: inline-block;
    color: var(--headerColor);
    font-size: 3em;
    border-bottom: 5px solid var(--colorFour);
}
@media screen and (max-width: 768px) {
    h1{
        display: block;
        margin: 10px;
        text-align: center;
    }
}