@import url("component/navbar.css");
@import url("component/hero-image.css");
@import url("component/about.css");
@import url("component/experience.css");
@import url("component/skills.css");
@import url("component/footer.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body:has(#hero.coder){
    background-color: #0d0d0d;
    color: white;
    --colorOne: #11009E;
    --colorTwo: #4942E4;
    --colorThree: #8696FE;
    --colorFour: #C4B0FF;
    --headerColor: #1800f1;
    --aboutInformationColor: #00121f;
}
body:has(#hero.designer){
    --colorOne: #FF731D;
    --colorTwo: #ff9b31;
    --colorFour: #FFD8A9;
    --headerColor: #FF731D;
    --aboutInformationColor: #FFFAF4;
}
h1{
    display: inline-block;
    color: var(--headerColor);
    font-size: 3em;
    border-bottom: 5px solid var(--colorFour);
}