#experience-education{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 64px 0;
    background-color: var(--eduexpBgColor);
}
#experience-education > *{
    height: 80%;
}
#experience-education h1{
    text-align: center;
}
#experience-education .education-card,
#experience-education .experience-card{
    width: 260px;
    padding: 10px 20px 10px 20px;
    background-color: var(--aboutInformationColor);
    margin-bottom: 10px;
    border-radius: 8px;
}
#experience-education .education-card .title,
#experience-education .experience-card .title{
    margin: 0;
    color: var(--headerColor);
}
#experience-education .education-card .time,
#experience-education .experience-card .time{
    margin: 0;
    color: var(--colorTwo);
}
@media screen and (max-width: 768px) {
    #experience-education{
        padding-top: 100px;
        flex-direction: column;
    }
}